body {
  margin: 0;
  font-family: "Noto Serif Display", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assests/doodad.png") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: inherit;
  width: 100%;
}

code {
  font-family: "Noto Serif Display", serif !important;
}
.navbar {
  margin-top: 10px;
  position: absolute !important;
  width: 100%;
  height: 0;
}
.test {
  font-size: 30px !important;
  color: white !important;
  padding-left: 20px;
  padding-top: 20px !important  ;
}
.test p {
  color: white;
  font-size: 10px;
  position: relative;
  left: 12%;
  margin-top: -10px;
  width: auto !important;
}

.navLink {
  margin-right: 30px;
  color: white !important;
  opacity: 1 !important;
}
.navLink:hover {
  color: rgb(236, 162, 187) !important;
  transition: all 0.4s ease !important;
}

.background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assests/hydepark-pic-1.png") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1 !important;
}
.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.landing {
  display: table;
  min-height: 100vh;
  height: inherit;
  width: 100%;
  text-align: center;
  color: white;
}
.landingContent {
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
}

.wrapper p {
  margin-top: -15px;
}
.wrapper h1 {
  font-size: 60px;
}

.reserBtn {
  box-shadow: none !important;
  width: 250px !important;
  letter-spacing: 1px;
  border-radius: 0 !important;
  opacity: 1 !important;
  border: solid rgb(236, 162, 187) 2px !important;
  text-decoration: none !important;
  color: white !important;
  border-left: black !important;
  border-right: black !important;
  padding: 15px 30px !important;
  background-color: transparent !important;
}
.reserBtn:hover {
  transition: all 0.4s ease !important;
  background: rgb(236, 162, 187) !important;
}

.reservationsPage {
  min-height: 100vh;
  height: inherit;
  width: 100%;
  text-align: center;
  color: white;
  display: table;
}

.Reservationlanding {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.dropDown {
  width: 250px;
  border-radius: 0 !important;
}

.secondPart {
  box-shadow: inset 0px 0px 24px -3px rgba(0, 0, 0, 0.788);
  display: table;
  min-height: 100vh;
  height: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.103)), url("./assests/wave.svg");
  background-position: center;
  background-size: cover;
  background-color: #631919;
  background-repeat: no-repeat;
}
.wrapper {

  display: flex;
  flex-direction: column;
}
.secondContent {
 
  text-align: center;
  color: white;
}
.secondContent {
  margin: 0 auto;

  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.textcontainer {
  padding: 100px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 70vw;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: 	#501311d3;
}

.buildingImage {
  margin: 0 auto;
  padding: 100px;
  height: auto;
  width: 30vw;
}

.menuButton{
  

  background-color: #b33737 !important;
  border:none !important;
  padding: 15px 30px !important;
  border-radius: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
 
}
@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}




@media (max-width: 1400px) {
  .flex {
    flex-direction: column;
    width: 90vw;
    margin-top:100px;
  }
  .buildingImage {
    padding: 20px;
    height: auto;
    width: 60vw;
  }
  .textcontainer {
    padding: 20px;
  }
  
}

@media (max-width: 500px) {
  
  .buildingImage {
    padding: 20px;
    height: auto;
    width: 80vw;
  }
  .textcontainer {
    padding: 20px;
  }
}