@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 0;
  font-family: "Noto Serif Display", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.2)),
    url("./assests/doodad.png") !important;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: inherit;
  width: 100%;
}

code {
  font-family: "Noto Serif Display", serif !important;
}
.navbar {
  position: absolute !important;
  padding: 0;
  height: auto;
  z-index: 1;

  width: 100%;
}
.test {
  font-size: 30px !important;
  color: white !important;
  padding-left: 20px;
  padding-top: 20px !important  ;
}
.test p {
  color: white;
  font-size: 10px;
  position: relative;
  left: 15%;
  margin-top: -10px;
  width: auto !important;
}

.navLink {
  padding: 2px !important;
  margin-right: 30px;
  color: white !important;
  opacity: 1 !important;
}
.navLink:hover {
  color: #c54848 !important;
  transition: all 0.4s ease !important;
}

.background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.473)),
    url("./assests/hydepark-pic-1.png") !important;
  background-position: bottom !important;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  min-height: 105vh;
  width: 100%;
  z-index: -1 !important;
}
.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.landing {
  display: table;
  min-height: 100vh;
  height: inherit;
  width: 100%;
  text-align: center;
  color: white;
}
.landingContent {
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
}

.wrapper p {
  margin-top: -15px;
}
.wrapper h1 {
  font-size: 60px;
}

.reserBtn {
  box-shadow: none !important;
  width: 250px !important;
  letter-spacing: 1px;
  border-radius: 0 !important;
  opacity: 1 !important;
  border: solid #631919 4px !important;
  text-decoration: none !important;
  color: white !important;
  border-left: black !important;
  border-right: black !important;
  padding: 15px 30px !important;
  background-color: transparent !important;
}
.reserBtn:hover {
  transition: all 0.4s ease !important;
  background: #631919 !important;
}

.reservationsPage {
  min-height: 100vh;
  height: inherit;
  width: 100%;
  text-align: center;
  color: white;
  display: table;
}

.Reservationlanding {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.dropDown {
  width: 250px;
  border-radius: 0 !important;
}

.secondPart {
  box-shadow: inset 0px 0px 24px -3px rgba(0, 0, 0, 0.788);
  display: table;
  min-height: 100vh;
  height: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.103)),
    url("./assests/wave.svg");
  background-position: center;
  background-size: cover;
  background-color: #631919;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.secondContent {
  text-align: center;
  color: white;
}
.secondContent {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.textcontainer {
  letter-spacing: 1px;
  padding: 100px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.flex {
  box-shadow: 13px 10px 32px -3px rgba(0, 0, 0, 0.568);
  display: flex;
  flex-direction: row;
  width: 70vw;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #501311d3;
  margin-bottom: 50px;
}

.buildingImage {
  margin: 0 auto;
  padding: 100px;
  height: auto;
  width: 30vw;
}

.menuButton {
  background-color: #b33737 !important;
  border: none !important;
  padding: 15px 30px !important;
  border-radius: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
}

.butcherBox {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.103)),
    url("./assests/raw-steak.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 24px -3px rgba(0, 0, 0, 0.788);
}

.butchertext {
  letter-spacing: 1px;
  padding: 100px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  color: black;
  color: #521111;
  display: block;
}
.butchertext h1 {
  font-size: 50px;
}

.butcherFlex {
  box-shadow: 13px 10px 32px -3px rgba(0, 0, 0, 0.842);
  display: flex;
  flex-direction: row;
  width: 70vw;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #ffffffec;
  margin-top: 25vh;
  margin-bottom: 50px;
}

.butcherFlex span {
  font-style: oblique;
}

.butcherButton {
  cursor: pointer;
  outline: none !important;
  border: none !important;
  background-color: #521111 !important;
  padding: 15px 30px !important;
  font-size: 1.3rem;
  font-weight: 550;
  color: #ffffff;
  background-size: 100% 100%;
  border-radius: 0 !important;
}
.butcherButton:hover {
  background: linear-gradient(
    55deg,
    transparent 10%,
    black 10% 20%,
    transparent 20% 30%,
    black 30% 40%,
    transparent 40% 50%,
    black 50% 60%,
    transparent 60% 70%,
    black 70% 80%,
    transparent 80% 90%,
    black 90% 100%
  );
}

.menuButton:hover {
  background-color: #140505 !important;
}
@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.footerContainer {
  background-color: white;
  color: white;
  font-weight: 600;
}
.footerContainer h5,
span {
  color: black !important;
}
.footerContainer a {
  text-decoration: none;
  color: #521111;
}
.footerLogo {
  width: 200px;
  height: auto;
}
#logoContainer {
  text-decoration: none !important;
  border: none !important;
}

@media (max-width: 1400px) {
  .flex {
    flex-direction: column;
    width: 90vw;
    margin-top: 100px;
  }
  .buildingImage {
    padding: 20px;
    height: auto;
    width: 60vw;
  }
  .textcontainer {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .buildingImage {
    padding: 20px;
    height: auto;
    width: 80vw;
  }
  .textcontainer {
    padding: 20px;
  }
  .butcherFlex {
    height: auto;
    width: auto;
  }
  .butchertext {
    padding: 10px !important;
  }
}
@media (max-width: 992px) {
  .navLink {
    padding-top: 10px !important;
    margin-top: 0;
    padding-top: 0;
    background-color: #521111;
    text-align: center;
    width: 100%;
  }

  .navbar {
    top: -5px !important;
    background-color: #521111;
    height: 100px;
  }
  .butcherFlex {
    margin-top: 14vh;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.cardContainer {
  background: #270909;
}

.card {
  margin: 10px;
  border: 0 !important;
  background: #521111!important;
  color: white;
  border-radius: 0 !important;
}
.card img {
  height: 220px;
}

.footer-distributed {
  background: #521111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #521111 !important;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
